[user]
	name = Abdulrahman Tabaza
	email = abdulrahmantabaza@gmail.com
[core]
	autocrlf = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
